.fondo{
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,146,255,1) 21%, rgba(0,0,0,1) 63%);
    width: 100%;
    height: 90vh;
}
.registro {
    margin-top: 10px rgb(49, 47, 47);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: rgb(34, 31, 31);
    border-radius: 25px;
    box-shadow: 4px 5px 26px white;
    z-index: 1;
}

.registro h1 {
    text-align: center;
    border-top-left-radius: 25px;
    padding: 10px 0 25px 0;
    background-color: rgba(183, 0, 64, 0.817);
    color: white; 
}  

.registro p {
    margin:0 0 0 75px;
    text-align: center;
    color: grey;
    
}

.registro form.regi {
    padding: 0 40px;
    box-sizing: border-box;
}

.registro form .usuario {
    position: relative;
    border-bottom: 2px solid rgb(200, 0, 255);
    margin: 30px 0;
}

.registro form .usuario input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: white;
}

.registro form .gmail {
    position: relative;
    border-bottom: 2px solid rgb(187, 0, 255);
    margin: 30px 0;
}

.registro form .gmail input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: white;
}

.registro form .contra {
    position: relative;
    border-bottom: 2px solid rgb(187, 0, 255);
    margin: 30px 0;
}

.registro form .contra input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: white;
}

.registro form label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: rgb(255, 254, 254);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.registro form .usuario input:focus ~ label,
.registro form .usuario input:not(:placeholder-shown) ~ label { 
    top: -5px;
    color: rgb(0, 195, 249);
}

.registro form .usuario input:focus ~ span::before,
.registro form .usuario input:focus ~ span::before {
    width: 100%;
}

.registro form .gmail input:focus ~ label,
.registro form .gmail input:not(:placeholder-shown) ~ label {
    top: -5px;
    color: rgb(0, 195, 249);
}

.registro form .gmail input:focus ~ span::before,
.registro form .gmail input:focus ~ span::before {
    width: 100%;
}

.registro form .contra input:focus ~ label,
.registro form .contra input:not(:placeholder-shown) ~ label {
    top: -5px;
    color: rgb(0, 195, 249);
}

.registro form .contra input:focus ~ span::before,
.registro form .contra input:focus ~ span::before {
    width: 100%;
}

.registro form input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: rgb(19, 204, 255);
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
}

footer {
    display: flex;
    background-color: black;
    color: grey;
}
  
p {
    margin: 15px 0 15px 50px;
    width: 60%; 
}
  
.conta {
    margin: 0 0 10px 160px;
    flex-direction: row;
    width: 100%;
    width: 30%;
    display: grid ;
   
    list-style: none;
}
.conta :hover {
    color: white;
}
  

